body {
  margin: 0;
}
@media only screen and (min-width: 500px) {
  .pictureIphone {
    background-image: url("coversharks-home-mobile-phone.png");
  }
}
ul.dis {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  height: 80px;
}
.topnav2 {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.icon-bar {
  background-color: #B7B9BA;
}
.coloredLogo {
  height: 57px;
  width: 220px;
  padding: 20px 0px 0px 15px;
}
.leftSideNav a {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
}
.rightSideNav {
  background-color: #F2F3F4;
  width: 100px;
  height: 80px;
  padding: 30px 5px 30px 5px;
}
.navIcon {
  height: 100%;
  width: 50%;
  float: left;
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  text-align: center;
  padding: 27.5px 16px;
  color: #B7B9BA;
  text-decoration: none;
  font-size: 18px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #111;
}
ul.topnav li a.active {
  background-color: #4CAF50;
}
ul.topnav li.right {
  float: right;
}
@media screen and (max-width: 600px) {
  ul.topnav li.right,
  ul.topnav li {
    float: none;
  }
}
.description {
  max-width: 1500px;
  height: 500px;
  background-image: url("assets/coversharks-web-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
.overlay {
  max-width: 1500px;
  height: 500px;
  background-image: url("assets/bkgrnd.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 2;
  opacity: 0.5;
  filter: alpha(opacity=60);
  position: relative;
}
.youIn {
  max-width: 37rem;
  color: white;
  font-size: 3em;
  width: 90%;
  font-weight: 800;
  text-align: center;
  font-family: 'Work Sans', sans-serif;
  background-color: #0096CF;
}
.whiteWords {
  font-size: 1em;
  color: white;
  height: 100%;
  width: 75%;
  font-family: 'Work Sans', sans-serif;
  font-weight: 200;
  margin-top: 10px;
  text-align: center;
  margin: 0 auto;
}
.whiteButton {
  background-color: white;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  border: 0px;
}
.greyButton {
  background-color: #393A3C;
  color: white;
  height: 50px;
  width: 170px;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  border: 0px;
}
.pictureIphone {
  background-image: url("assets/hero-phone.png");
  height: 450px;
  width: 85%;
  margin: auto;
  position: absolute;
  margin-left: 25px;
  bottom: -500px;
  background-size: cover;
  background-repeat: no-repeat;
}
.register {
  background-color: white;
  height: 20em;
  width: 100%;
}
.appleYeti {
  background-image: url("assets/apple-watch-and-yeti-image.png");
  height: 20em;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.nowReg {
  height: 100%;
  width: 100%;
  color: #A5ABAE;
  font-family: 'Roboto', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
}
.tealWords {
  height: 100%;
  width: 100%;
  color: #00C299;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  text-align: center;
}
.blueWords {
  height: 100%;
  width: 100%;
  color: #0096CF;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  font-size: 35px;
  text-align: center;
}
.smallBlueWords {
  height: 100%;
  width: 100%;
  color: #0096CF;
  font-weight: 800;
  font-family: 'Work Sans', sans-serif;
  font-size: 15px;
  text-align: center;
}
.whiteLogoSmall {
  height: 2em;
  width: 2em;
  text-align: center;
}
.playTime {
  background-image: url("assets/bkgrnd.svg");
  max-width: 1500px;
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.floatingPhone {
  background-image: url("assets/tilted-phone.png");
  height: 30em;
  background-repeat: no-repeat;
  background-size: cover;
}
.floatingPhoneHolder {
  height: 90%;
  width: 90%;
}
.overview {
  background-color: #F2F3F4;
  max-width: 1500px;
  max-height: 1000px;
}
.col-sm-4 {
  max-width: 300px;
  max-height: 300px;
  border-radius: 5px;
  margin: 20px;
  background-color: white;
  box-shadow: 5px 5px 5px #888888;
}
